* {
  box-sizing: border-box;
}

/*
Colors used:
Background Color: #f6f9f5;
Text Color: #091405;
Accent Color: #0F2706;
*/
body {
  background-color: #f6f9f5;
  font-family: 'Fahkwang', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #091405;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-family: 'Source sans pro', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #091405;
}

img {
  width: 70%;
}

a {
  color: #091405;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #254E15;
}

a:hover,
a:focus {
  color: #225110;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #43530D;
}

a.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0F2706;
  color: white;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0F2706;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-transform: uppercase;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  background-color: #43530D;
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #0F2706;
  text-transform: uppercase;
  border: 2px solid #0F2706;
}

.button.contact:hover {
  background-color: #0F2706;
  color: #ffffff;
}

.button.contact:active {
  background-color: #43530D;
  color: #ffffff;
}

.social {
  display: inline-block;
  width: 40px;
  margin-top: 80px;
}

header {
  background-color: #D9E6D5;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  display: inline-block;
  width: 100%;
}
main {
    padding-top: 175px;
}
/* Layout styling */
.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: left;
  /* Centers text */
}

#work h2 {
  text-align: center;
  /* Centers text */
}

#about h1 {
  text-align: center;
  /* Centers text */
}

#befriendly-case h1 {
  text-align: center;
  /* Centers text */
}

#logo {
  display: inline-block;
  max-width: 100px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a: visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a: active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #D9E6D5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.cover img {
  width: 70%;
}

#profile {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
div#befriendly-case img{
    margin: auto;
    display: block;
    width: 80%;
}
