* {
  box-sizing: border-box;
}

/*
Colors used:
Background Color: #f6f9f5;
Text Color: #091405;
Accent Color: #0F2706;
*/
body {
  background-color: #f6f9f5;
  font-family: 'Fahkwang', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #091405;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-family: 'Source sans pro', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #091405;
}

img {
  width: 90%;
}

img.cover {
  display: inline-block;
}

a {
  color: #091405;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #254E15;
}

a:hover,
a:focus {
  color: #225110;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #43530D;
}

a.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0F2706;
  color: white;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #0F2706;
  /* width of the border, type, color */
  transition-duration: 0.2s opacity;
  text-transform: uppercase;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  background-color: #43530D;
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #0F2706;
  text-transform: uppercase;
  border: 2px solid #0F2706;
}

.button.contact:hover {
  background-color: #0F2706;
  color: #ffffff;
}

.button.contact:active {
  background-color: #43530D;
  color: #ffffff;
}

.social {
  display: inline-block;
  width: 40px;
  margin-top: 80px;
}

header {
  background-color: #D9E6D5;
  padding: 0;
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 115px;
}

/* Layout styling */
.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work h2 {
  text-align: center;
  /* Centers text */
}

#about h1 {
  text-align: center;
  /* Centers text */
}

#befriendly-case h1 {
  text-align: center;
  /* Centers text */
}

#sneak-case h1 {
  text-align: center;
}

#logo {
  display: inline-block;
  max-width: 100px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
  margin: 0;
}

nav>ul>li>a {
  padding: 25px 15px 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a: visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a: active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

#hero {
  background-color: #D9E6D5;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

#profile {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

div#befriendly-case img {
  margin: auto;
  display: block;
  width: 80%;
}

div#sneak-case img {
  margin: auto;
  display: block;
  width: 80%;
}

.container {
  margin-left: 32px;
  margin-right: 32px;
}

#work img {
  margin: auto;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 24px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 0;
  }

  nav {
    width: auto;
    float: right;
    margin: 20px auto;
  }

  main {
    padding-top: 75px;
    font-size: 18px;
  }

  #hero {
    text-align: center;
    display: block;
    padding: 30px 0 20px 0;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }

  h3 {
    margin-top: 0;
  }

  #profile {
    max-width: 65%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 0;
  }

  nav {
    width: auto;
    float: right;
    margin: 25px auto;
  }

  main {
    padding-top: 99px;
    font-size: 18px;
  }

  #hero h1 {
    text-align: center;
    display: block;
  }

  #profile {
    max-width: 50%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-4 {
    width: 33.33%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 {
  margin-top: 0;
}

.cover {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  rotate(radius): 45deg;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
