/*
Colors used:
Background Color: #f6f9f5;
Text Color: #091405;
Accent Color: #0F2706;
*/


body{
  background-color: #f6f9f5;
  font-family: 'Fahkwang', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #091405;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-family: 'Source sans pro', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #091405;
}

img {
  width: 100%;
}

a {
  color: #0F2706;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #20530D;
  text-decoration: underline; /* Underlining when hovering over a link */
}
